*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  
    
}

:root{
   --normal-font:"Inter",sans-serif;
}
.navbar-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  transform: translateY(100px);
   animation: slideUp .8s ease forwards 0.2s;
  
}

.logo-div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--normal-font);
  font-weight: 650;
  font-size: 1.5rem;
  color: rgb(96, 191, 255);
}
header{
  position: fixed;
  top:0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(36px);
  background-color:rgba(0, 0, 0, 0.404);
  color: white;
  width: 100%;
  transition: all 0.5s;
  z-index: 999;
 
}
header.sticky{
  color: rgb(59, 59, 59);
   background-color: rgba(255, 255, 255, 0.774);
   
}
header.sticky a{
  color: rgb(59, 59, 59);
   
}
header a{
  color: white;
}
.menu-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}
.welcome-note
{
   text-transform: uppercase;
    color: white;
      font-size: 190px;
}

.menu-div li{
  list-style: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 1rem;
  letter-spacing: 0.1rem;
}
.menu-div li:hover{
  list-style: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: rgb(4, 121, 255);
  color: rgb(255, 255, 255);
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 2rem;
  transition: all 0.6s;
}


.logo{
  width:5rem;
}
.carousel-logo{
  width: 10rem;
  animation: slideUp .8s ease forwards 0.2s;
  
}
.carousel-div{
  background-image: url("../public/Images/rscoe.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  overflow-x:hidden;
  

}
.welcome-note{
  font-family: "Inter",sans-serif;
  color: white;
  font-size: 3.5rem;
 font-weight: 600;
 overflow-x:hidden;
}

.footer-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  color: white;
  background-color: rgb(15, 15, 34);
  padding: 3rem;
}
.footer-logo{
  width:14rem
}
ion-icon{
  padding: 1rem 0.5rem 0 0;
}
.address{
  font-family: "Inter",sans-serif;
  font-size: 1rem;
  padding: 1rem;
  letter-spacing: 0.05rem;
}
.address-div{
  width: 19rem;
}
.follow-div p{
    font-family: "Be Vietnam pro",sans-serif;
    font-size: 1.3rem;
    font-weight: 550;
    padding: 1rem;
}

.contact{
  font-family: "Be Vietnam pro",sans-serif;
  font-weight: 550;
  font-size: 1.5rem;
  padding: 0.4rem;
  text-align: center;
}
.mailcontact{
  font-family: "Be Vietnam pro",sans-serif;
  font-size: 1rem;
  text-align: center;
}
.credit{
  background-color: rgb(15, 15, 34);
  padding: 0.5rem 0 2rem 0;
}
@media screen and (max-width:768px) {
  .slide-img{
    width: 5rem;
    animation: slide 100s 0.5s infinite linear forwards;
  -webkit-box-shadow: 10px 10px 40px -14px rgb(0, 0, 0);
-moz-box-shadow: 10px 10px 40px -14px rgb(0, 0, 0);
box-shadow: 10px 10px 40px -14px rgb(0, 0, 0);
border-radius: 1rem;
  }
  .summary-div{
    
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }
  .slider-header{
    text-align: start;
  }
  .sub-head{
    padding: 1rem;
    text-align: center;
    font-size: 0.5rem;
  }
  .sum{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }
  .sum .pt{
    padding-right:0 ;
    font-size: 0.3rem;
  }
}
.hamburger{
  display: none;
}
.line{
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  background-color: rgb(96, 191, 255);
  margin: 0.3rem auto; 
}
.summary-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

}

.sub-head{
  font-family: var(--normal-font);
  font-size: 1.5rem;
  font-weight: 550;
  padding: 1rem 1rem 1rem 0;
  color: #1993ff;
}

.sum{
  display: flex;
  
  flex-direction: column;
}

.sum .pt{
  font-family: var(--normal-font);
  font-size: 1.1rem;
  padding: 0.3rem 0.3rem 0.3rem 0;
}

.slide-img{
  width: 35rem;
  position: relative;
  animation: slide 300s 0.5s infinite linear forwards;
  -webkit-box-shadow: 10px 10px 40px -14px rgb(0, 0, 0);
-moz-box-shadow: 10px 10px 40px -14px rgb(0, 0, 0);
box-shadow: 10px 10px 40px -14px rgb(0, 0, 0);
border-radius: 1rem;
}
.big-div{
  padding-top: 5rem;
  background: #141E30; 
background: -webkit-linear-gradient(to right, #243B55, #141E30);
background: linear-gradient(to right, #243B55, #141E30); 
color: white;
overflow-x:hidden ;
}
.slider-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  background-image:url("../public//Images//logica/bg-slider.png") ;
  background-size:cover;
  background-repeat: repeat-x;
}
.slide-img{
  animation: slide 300s 0.5s infinite linear forwards;
  -webkit-box-shadow: 10px 10px 40px -14px rgb(0, 0, 0);
-moz-box-shadow: 10px 10px 40px -14px rgb(0, 0, 0);
box-shadow: 10px 10px 40px -14px rgb(0, 0, 0);
border-radius: 1rem;
}

@keyframes slide{
  0%{
    transform: translateX(0%);
  }
  
  25%{
    transform: translateX(-1250%);
  }
  50%{
    transform: translateX(-1500%);
  }
  75%{
    transform: translateX(1250%);
  }
  100%{
    transform: translateX(0%);
  }

  
}

.slider-header{
  font-family: var(--normal-font);
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
}
.upcoming-div{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.big-upcoming-div{
  padding: 2.5rem;
  background-color: rgb(255, 253, 246);
  overflow-x:hidden;
}

.upcoming{
  text-align: center;
  font-family: var(--normal-font);
  font-size: 2rem;
  padding: 2rem;
  font-weight: 500;
  overflow-x:hidden;
 
}
.event-img-div{
  padding: 8rem;
  border-radius: 3rem;
  background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #822a7c 46%, #996a1c 100%);
transition: all 0.8s;
overflow-x:hidden;
}
.event-img-div:hover{
  padding: 8rem;
  border-radius: 3rem;
  background-color: #4158D0;
background-image: linear-gradient(43deg,#996a1c 0% , #822a7c 46%,  #4158D0 100%);
box-shadow: 10px 10px 46px -7px rgba(148, 57, 156, 0.57);
-webkit-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
-moz-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
transform: translateY(-1.5%);
overflow-x:hidden;
transition: all 0.5s;
}
#poetry-div{
  padding: 8rem;
  border-radius: 3rem;
  background-color: #95b33e;
background-image: linear-gradient(132deg, #95b33e 0%, #66a329 50%, #228846 100%);

transition: all 0.8s;
overflow-x:hidden;
transition: all 0.5s;
}
#poetry-div:hover{
  padding: 8rem;
  border-radius: 3rem;
  background-color: #04da04;
background-image: linear-gradient(43deg, #0ea734 0%, #116e18 46%, #04490e 100%);
transition: all 0.8s;
overflow-x:hidden;
}
.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.btninfo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #822a7c 46%, #996a1c 100%);
  color: white;
  font-family: var(--normal-font);
  font-weight: 550;
  border: none;
  margin-top: 2rem;
  transition: all 0.7s;
  font-size: 1.2rem;
}
.btninfo:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #822a7c 46%, #996a1c 100%);
  color: white;
  font-family: var(--normal-font);
  font-weight: 550;
  border: none;
  margin-top: 2rem;
  transition: all 0.7s;
  font-size: 1.2rem;
  box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
-webkit-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
-moz-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
transition: all 0.5s;
transform: translateY(-4.5%);
cursor: pointer;
}
a{
  text-decoration-line: none;
}
.register{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #822a7c 46%, #996a1c 100%);
  color: white;
  font-family: var(--normal-font);
  font-weight: 550;
  border: none;
  margin-top: 2rem;
  transition: all 0.7s;
  font-size: 1.2rem;
}
#poetry-btn{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #95b33e;
  background-image: linear-gradient(132deg, #95b33e 0%, #66a329 50%, #228846 100%);
  color: white;
  font-family: var(--normal-font);
  font-weight: 550;
  border: none;
  margin-top: 2rem;
  transition: all 0.7s;
  font-size: 1.2rem;
}
#poetry-btn:hover{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg,  #0ea734 0%, #116e18 46%, #04490e 100%);
  color: white;
  font-family: var(--normal-font);
  font-weight: 550;
  border: none;
  margin-top: 2rem;
  box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
-webkit-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
-moz-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
transition: all 0.5s;
transform: translateY(-4.5%);
cursor: pointer;
}
.register:hover{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #822a7c 46%, #996a1c 100%);
  color: white;
  font-family: var(--normal-font);
  font-weight: 550;
  border: none;
  margin-top: 2rem;
  box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
-webkit-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
-moz-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
transition: all 0.5s;
transform: translateY(-4.5%);
cursor: pointer;
}

.event-img-div p{
  font-family: var(--normal-font);
  font-weight: 550;
  font-size: 4rem;
  color: white;
}
.event-info{
  font-family: var(--normal-font);
  padding: 4rem;
  font-size: 1.3rem;
  
}
.event-info p{
  font-weight: 500;
}

.teamheader{
  font-family: var(--normal-font);
  font-weight: 400;
  padding: 8rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.7rem;
  background: linear-gradient(180deg, #1173FF 0%, #21338b 100%);
  animation: slideUp .8s ease forwards 0.2s;
}
.staff-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-photo{
  height: 15rem;
 
  padding: 1rem 1rem 0 1rem;
  border-radius: 2rem;
  
}
.profile-photo:hover{
  height: 15rem;
  transform: translateY(-2%);
  transition: all 0.8s;
  padding: 1rem 1rem 0 1rem;
  border-radius: 2rem;
 
  
}
.post{
  font-size: 1.2rem;
  font-weight: 530;
  font-family: var(--normal-font);
  color: rgb(31, 147, 255);
}
.name{
  font-size: 1.5rem;
  font-weight: 550;
  color: #1D1D1F;
  font-family: var(--normal-font);
  
}
.profile-card-div{
  text-align: center;
  padding: 3rem;
  display: grid;
  gap: 1rem;
  background-color:#F2F2F2;
  grid-template-columns: auto auto auto auto;
  
}

.profile-card{
  background-color: #f2f2f2;
  box-shadow: 10px 10px 43px 0px rgba(255, 255, 255, 0.973);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-info-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
}
.total-info{
  padding: 1rem;
}

.profile-card-web{
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.teamheader-web p{
  font-family: var(--normal-font);
  font-weight: 500; 
  font-size: 2rem;
  padding-top: 8rem;
  padding-bottom: 1rem;
}
.teamheader-web .p{
  font-family: var(--normal-font);
   font-size: 1.4rem;
   font-weight: 200;
   width: 35rem;
   text-align: center;
}
.teamheader-web{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#f2f2f2; 
  color: rgb(46, 46, 46);
  
}
.staff{
  width: 17rem;
  height: 17rem;
  padding: 1.5rem 1.2rem 0.7rem 1.2rem;
  border-radius: 2rem;
}
.name-staff{
  color: white;
  font-size: 1.7rem;
}
.post-staff{
  color:wheat;
  font-size: 1.3rem;
}
.big-about-div{
  
  padding: 5rem 5rem 5rem 5rem;
  background-color: rgb(224, 245, 255);
}
.about-acm-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--normal-font);
  padding: 4rem;
}
.acm{
  width: 15rem;
}
.acm-info-img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 5rem;
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width:768px){
  
  .hamburger{
      display: block;
      cursor: pointer;
  }
  header.sticky a{
    color: rgb(255, 255, 255);
     
  }
  .menu-div{
      position: fixed;
      left: -100%;
      width: 100%;
      height: 100vh;
      top: 0.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 0.4s;
      color: white;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(25px);
      background-color:rgba(7, 2, 56, 0.993);
      
      
  }
  .navbar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .menu-div li{
    padding: 0;
  }
  .menu-div.active{
      left: 0;
  }
  .item{
      margin: 2rem 0;
  }
  .hamburger.active .line:nth-child(2){
  opacity: 0;
  }
  .hamburger.active .line:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .line:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }




  .carousel-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     background-color: #4158D0;
  background-image: linear-gradient(43deg, #26347c 0%, #581c54 46%, #5f4112 100%);
    
  }
  .welcome-note{
    font-size: 2.5rem;
    font-weight: 750;
    text-align: center;
  }
  .big-upcoming-div{
    padding:3rem 0.5rem 3rem 0.5rem;
  }
  .upcoming-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #poetry-upcoming{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
  }
  .event-img-div{
    padding:  3rem;
    border-radius: 1.5rem;
    background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #822a7c 46%, #996a1c 100%);
  transition: all 0.8s;
  }
  #poetry-div{
    padding:  3rem;
    border-radius: 1.5rem;
    background-color: #00a808;
  background-image: linear-gradient(43deg, #04490e 0%, #116e18 46%, #0ea734 100%);
  transition: all 0.8s;
  }
  #poetry-div:hover{
    padding:  3.5rem;
    border-radius: 1.7rem;
    background-color: #0fa71c;
  background-image: linear-gradient(43deg, #04490e 0%, #116e18 46%, #0ea734 100%);
  transition: all 0.8s;
  }
  .event-img-div:hover{
    padding: 4rem;
    border-radius: 2rem;
    background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #822a7c 46%, #996a1c 100%);
  box-shadow: 10px 10px 46px -7px rgba(148, 57, 156, 0.57);
  -webkit-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
  -moz-box-shadow: 10px 10px 46px -7px rgba(242,88,255,0.57);
  transform: translateY(-0.5%);
  }
  .buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    
  }
  .btninfo{
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-size: 1.1rem;
  }
  .btninfo:hover{
    padding: 0.3rem 1rem 0.3rem 1rem;
  }
  .footer-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    color: white;
    background-color: rgb(15, 15, 34);
    padding: 3rem;
  }
 

  .profile-card-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .teamheader{
    
    padding: 8rem 2rem 8rem 2rem;
    background: rgb(7, 25, 128)
  }
  .teamheader-web p{
    font-weight: 400; 
  }
  .teamheader-web .p{
     font-size: 0.8rem;
     font-weight: 200;
     width: 22rem;
  }

  .name{
    font-size: 1.2rem;
  }
  .post{
    font-size: 0.9rem;
  }
  .staff-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .staff{
    width: 16rem;
  }
  .name-staff{
    color: white;
    font-size: 1.2rem;
  }
  .post-staff{
    color:wheat;
    font-size: 1rem;
  }
  .acm-info-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 5rem;
  }
  #rscoe-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 0 5rem;
  }
  .about-acm-div{
    padding: 1rem;
    text-align:initial;
  }
  .about-acm-div h2{
    padding: 1rem 0;
  }
}